* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: cursive;
    background-color: white;
    line-height: 2;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: orange;
    border-bottom: 1px solid black;
}

header img {
    margin-left: 20px;
    margin-bottom: 20px;
    vertical-align: middle;
}

nav ul {
    margin-top: 30px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    margin-right: 60px;
    font-size: 1.3em;
    transition: 0.3s ease, background-color 0.3s ease;
}

nav ul li a:hover, a.ex1:active {
    font-size: 150%;
}

.container {
    padding: 1rem;
    justify-content: center;
    background-color: white;
    border-bottom: 5px solid white;
}

.container h1 {
    text-align: center;
    font-size: 5rem;
    font-weight: lighter;
    color: rgb(78, 78, 78);
}

.container p {
    color: rgb(78, 78, 78);
    font-size: 1.8rem;
    padding-left: 100px;
    max-width: 1150px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.email{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 1.8rem;
    align-self: center;
}

.email img{
    align-self: center;
}

.email a {
    text-decoration: none;
    color: orange;
    font-weight: bold;
    margin-left: 10px;
    align-self: center;
    transition: 0.3s ease;
}

.email a:hover{
    text-decoration: underline;
    font-size: 110%;
}

.icon {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 30px;
}

.icon .logo {
    transition: 0.3s ease, background-color 0.3s ease;
}

@keyframes crescendo {
    0% {
        transform: scale(.8);
    }

    100% {
        transform: scale(.9);
    }
}

.icon .logo:hover {
    scale: 130%;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    background-color: #1D3D48;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
}

.footer-column {
    display: flex;
    flex-direction: column;
}

.footer-column img {
    color: white;
    justify-content: center;
    margin-top: 70px;
    margin-left: 30px;
}

.footer-column a {
    font-size: 1.4rem;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 5px 40px;
    transition: 0.3s ease, background-color 0.3s ease;
}

.footer-link p {
    margin-right: 90px;
}

.footer-column a:hover {
    font-size: 180%;
}

@media (max-width: 600px) {
    .container {
        width: 100%;
        padding: 10px;
    }

    .content {
        font-size: 14px;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    .container {
        width: 90%;
        padding: 20px;
    }

    .content {
        font-size: 16px;
    }
}